body {
    background-color: #ffaec9;     
    overflow:hidden; 
}

h1 {
    font-size: 9.5vw;
    font-weight: bold;
    text-decoration-line: underline;
    text-decoration-color: #e29578;
    text-decoration-thickness: 8px;
    text-align: center;
    line-height: 100%;
} 

h2{
    font-size: 7.5vw;
    font-weight: bold;
    text-align: center;
    line-height: 100%; 
}

h3{
    font-size: 1.7vw;
    font-weight: bold;
    text-align: center;
}

.row{
    margin-left:auto; 
    margin-right:auto;
}

.title{
    background-color: white;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 3%;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 48px 0 0;
    transform: translate(0px, 40px);
    opacity: 50%;
}

.nav-item{
    background-color: #e492ad;
    opacity: 100%;
}
  
  .sidebar .nav-link .feather {
    margin-right: 4px;
    color: black;
  }
  
  
  .sidebar .nav-link:hover .feather,
  .sidebar .nav-link.active .feather {
    color: inherit;
  }  
  
.card-title{
    text-align: center;
}

.card{
    background-color: #ffffff;
}

.card-img-top{
    width: 100%;
    height: 25vw;
    object-fit: cover;
}

#headingBox{
    background-color: #c8bfe7;
    text-align: center;
    transform: translate(0px, -28px);
    padding-top: 5px;
    padding-bottom: 5px;
}

#card{
    margin:0;
}

#continueButton{
    width: 50%;
}   

.btn-primary{
    background-color: #e29578;
    border: black;
}

.btn-primary:hover{
    background-color: #f6c5af;
    color:black;
}

.btn-primary:not(:disabled):not(.disabled):active:focus{
    background-color: black;
    box-shadow: none;   
}

.btn-primary:not(:disabled):not(.disabled):focus{
  box-shadow: none;
}